.content {
    background-color: #FAF9F5;
}

#shopForm {
    width: 100%;
    /*margin: 50px auto;*/
    text-align: center;
    position: relative;
    background-color: #FAF9F5;
}

#shopform ul {
    background-color: white;
    width: 100%;
    height: 110px;
    border-bottom: 1px solid rgb(175, 174, 174);
    border-top: 1px solid rgb(175, 174, 174);
    padding-top: 30px;
}

#shopForm fieldset {
    background-color: #FAF9F5;
    border: 0 none;
    border-radius: 3px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0% 10%;
    /* Stacking fieldsets above each other */
    position: relative;
}

.borderDiv {
    border: 1px solid rgb(175, 174, 174);
    width: 100%;
    border-radius: 25px;
}

.fieldsetHead {
    background-color: #FAF9F5;
    width: 100%;
    height: 90px;
    padding-bottom: 15px;
}

.fieldsetHead h1 {
    font-size: 1.7em;
}

.fieldsetHead h4 {
    font-size: 0.9em;
}

/* Hidding all except first fieldset */
#shopForm fieldset:not(:first-of-type) {
    display: none;
}

#shopForm fieldset h1 {

}

#shopForm fieldset h2 {

}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #595959;
    font-size: 0.9em;
    width: 20%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    text-decoration: underline;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: white;
    background: #bbb9b9;
    border-radius: 50%;
    margin: 0 auto 5px auto;
}

#progressbar li:after {
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /* put it behind the check */
    content: '';
    width: 100%;
    height: 3x;
    background: red;
}

#progressbar li:first-child:after {
    content: none;
}

/* make the progress darker like my soul lmao jokes oh nah */
#progressbar li.active:before, 
#progressbar li.active:after {
    background: #272727;
    color: white;
}