{% extends "base.html" %}

{% block title %}Confirmation View{% endblock %}

{% block css %}
<link href="/static/etsy_core/css/confirmation_view.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}

<div class="content bg-FAF9F5">
    <div id="title_section" class="bg-white text-center">
        <div id="clap_image" class="text-center">
            <!-- TODO: poner imagge here -->
            <img  width="100" heigth="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtgzTxhRbVyr4Nm117MJ3FaF3TnVzvvB6hQEkdbMQ9IGIp7yBa" alt="clap image">
        </div><!-- clsoing div clap_image -->
    
        <div id="title" class="text-center">
            <h2>
                Thank you for your order from 
                <span><!-- TODO: poner shop name here --></span>
            </h2>
    
            <h4>
                Your order will be ready to ship in 3-5 bussines days 
            </h4>
        </div><!-- closing div title -->
    
        <div id="favorite_button_div" class="text-center">
            <a class="btn btn-secondary inline-overlay-trigger favorite-shop-action btn-small text-gray-lioghter pt-xs-1 bg-white"
            href="/" aria-label="Favorite shop">
                <!-- TODO: poner link to favorite shop -->
                </span>
    
                <span class="favorite-shop-action-text">Keep shopping</span>
            </a>
        </div><!-- closing div favorite_button_div -->

    </div>
</div>

{% endblock %}