{% extends "base.html" %}

{% block title %}Create Listing{% endblock %}

{% block content %}

<link href="/static/admin/css/create_product.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/etsy_core/css/tagsinput.css" />
<div id="" class="main-create-listing" style="width:100%">
	<h2 class="page-title">
		<span>Add product</span>
	</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.errors }}
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Photos</h4>
					<p>
						Add all the photos you can so consumers can view each detail of the product.
					</p>
				</div>

				<div class="panel-body">
					<div class="row">
						<div class="col-sm-4">
							<p>
								<b>Photos</b>*<br>
								Use up to ten photos to show the more important features of your product.
								<br><br>
								Tips:
								<ul style="margin-left: 10px;">
									<li>Use natural light without flash.</li>
									<li>Include an ordinary object to show scale.</li>
									<li>Show the product in your hand, put on or in action.</li>
									<li>Use a plain and simple background.</li>
								</ul>
							</p>
						</div>

						<div id = "photos" class="col-sm-8">
							<div class="row" id="photos_grid">
								<!-- Script at the end loads the images -->
							</div>
						</div>
					</div>
				</div>

			</div> <!-- End of panel -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Product information</h4>
					<p>
						Tell the world why they are going to love your product.
					</p>
				</div>
				<div class="panel-body">
					<div class="row" style="margin-left: 20px;">
						<div class="col-sm-4">
							<h4>{{ form.name.label_tag }}</h4>
							<p>
								Include key words that consumers would use to find this product.
							</p>
						</div>

						<div class="col-sm-8">
							{{ form.name }}
							{{ form.name.errors }}
						</div>
					</div>

					<div class="row" style="margin-left: 20px; margin-top: 20px;">
						<div class="col-sm-4">
							<h4>{{ form.description.label_tag }}</h4>
							<p>
								Start with a brief description of the best qualities of the product.<br>
								<br>
								Add data about its dimensions and the main characteristics in an easy to read list.<br>
								<br>
								Say something about the process and histoy that lie behind the product.
							</p>
						</div>

						<div class="col-sm-8">
							<textarea class="textarea" name="description" id="description" rows="16" data-field="description" style="overflow: hidden; height: 296px; width: 592px;"
							 required></textarea>
							{{ form.description.errors }}
						</div>
					</div>
					<div class="row" style="margin-left: 20px; margin-top: 20px;">
						<div class="col-sm-4">
							<h4>{{ form.tags.label }}</h4>
							<p>
								What words might someone use to search for your listings? Use all 13 tags to get found.
							</p>
						</div>

						<div class="col-sm-8 tags-input">
							{{ form.tags }}
							{{ form.tags.errors }}
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Inventory and pricing</h4>
				</div>
				<div class="panel-body">
					<!--div class="row" style="margin-left: 20px;">
						<div class="col-sm-4">
							<h4>{{ form.price.label_tag }}</h4>
							<p>
								Factor in the costs of materials and labour, plus any related business expenses.Consider the total price buyers will pay too — including shipping.
							</p>
						</div>

						<div class="col-sm-8">
							{{ form.price }}
						</div>
					</div>
					<div class="row" style="margin-left: 20px;">
						<div class="col-sm-4">
							<h4>{{ form.quantity.label_tag }}</h4>
							<p>
								For quantities greater than one, this listing will renew automatically until it sells out. You’ll be charged a $0.20 USD listing fee each time.
							</p>
						</div>

						<div class="col-sm-8">
							{{ form.quantity }}
						</div>
					</div-->
					<div class="row" style="margin-left:20px">
						<div class="col-sm-4">
							<h4>Variations</h4>
							<p>
								Add available options like color or size. Buyers will choose from these during checkout.
							</p>
						</div>
						{% for interest_field in form.get_options_fields %}
						<div class="card bg-light h-100" style="margin-right:10px">
							<div class="card-body text-center">
								{{ interest_field.label }}
								{{ interest_field }}
								{{ interest_field.errors }}
							</div>
						</div>
						{% endfor %}

					{{ form.categories }}	
					</div>
				</div>
			</div>
			<div class="text-center" style="margin-top: 20px; padding-bottom:24px">
				<button class="btn btn-primary" style="background-color: orange; border-color: orange;" type="submit">Add product</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block scripts %}
<script>
	var img_add = 0;
	var images_uploaded = [0, 0, 0];
	var images_ids = [
		"{{ form.first_image.auto_id }}",
		"{{ form.second_image.auto_id }}",
		"{{ form.third_image.auto_id }}"];
	
	// The first image is the picker
	var image_templates = [
		"nothing",
		"https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-1.0000.svg",
		"https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-2.0000.svg",
		"https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-3.0000.svg",
		"https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-4.0000.svg",
		"https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-5.0000.svg",
		"https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-6.0000.svg",
		"https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-7.0000.svg",
		"https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-8.0000.svg",
		"https://www.etsy.com/images/seller-tools/add-photos-placeholders/placeholder-9.0000.svg",
	];
	
	function add_images() {
		var imageHTMLFirst = "<div class = 'col-xs-1'><img alt='' src='";
		var imageHTMLLast = "' style = 'width: 150px; height: 150px; margin: 4px;'></div>";
		
		var i;
		document.getElementById('photos_grid').innerHTML = '';
		
		for (i = 0; i < 10; i++) {
			if (i < img_add && i < images_ids.length) {
				document.getElementById('photos_grid').innerHTML += "<div class = 'col-xs-1'><label for='" + images_ids[i] + "'><img src = '" + (images_uploaded[i] == 0 ? image_templates[i] : images_uploaded[i]) + "' style = 'width: 150px; height: 150px; margin: 4px;'></label></div>";
			}
			else if (i == img_add && i < images_ids.length) {
				document.getElementById('photos_grid').innerHTML += "<div class = 'col-xs-1'><label for='" + images_ids[i] + "'><img id = 'add_img' src = '/static/admin/img/add_photo.png' onmouseover = 'bold_border()' onmouseout = 'normal_border()' style = 'width: 150px; height: 150px; margin: 4px;'></label></div>";
			}
			else {
				document.getElementById('photos_grid').innerHTML += imageHTMLFirst + image_templates[i] + imageHTMLLast;
			}
		}
		
		normal_border();
	}
	
	function image_uploaded(input) {
		var reader = new FileReader();
		console.log(images_ids.findIndex(x => x == input.id))
		reader.onload = function (e) {
			images_uploaded[images_ids.findIndex(x => x == input.id)] = e.target.result;
			
			img_add = Math.min(img_add+1, images_ids.length);
		
			add_images();
		};
		
		reader.readAsDataURL(input.files[0]);
	}
	
	// Functions to change the border of the add photo image
	function normal_border() {
		document.getElementById("add_img").style.border = "1px solid #fec8b2";
	}
	
	function bold_border() {
		document.getElementById("add_img").style.border = "1px solid #f28b60";
	}
	
	add_images();
	
	var i;
	
	for (i = 0; i < images_ids.length; i++) {
		document.getElementById('photos').innerHTML += "<input id = '" + images_ids[i] + "' type='file' accept='.png,.jpeg,.jpg,.gif' style = 'display: none;' onchange = 'image_uploaded(this);'>";
	}
</script>

<script src="/static/etsy_core/js/tagsinput.js" type="text/javascript"></script>
{% endblock %}
