{% extends "./base.html" %}
{% load staticfiles %}

{% block title %}
<!-- TODO Check title variable with backend -->
{# {{ title }} #}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

<div class = "container">
	<h1> Add new product </h1>
	
		<form action="{# url TODO #}" method="post">
			{% csrf_token %}
			<div class = "row">
			
				<div class = "col-sm-6">
					<a>Select image</a>
				</div>
				
				<div class = "col-sm-6">
					Name:        <input type="text"><br><br>
					Description: <input type="text"><br><br>
					Price:       <input type="number"><br><br>
					<br><br>
					<input type = "submit">
				</div>

			</div>
		</form>
	
</div>
    
{% endblock %}
