{% extends "base.html" %}

{% block content %}

<!--Hola que tal :)
<a href="{% url 'login' %}?next={{request.path}}">Login</a>
<a href="{% url 'signup' %}">Sign up</a>
<a href="{% url 'create_shop' %}">Sign up</a>-->
{% if user.has_shop %}
<a href="{% url 'create_product' user.shop.id %}">New product</a>
{% endif %}
<link type="text/css" rel="stylesheet" href="/static/admin/css/home.css">

<div id="content" class="clear" role="main" style="width:100%">
    <div class="search-head-title-wrap horizontal-center appears-ready">
        <h1 class="home-title text-center pr-xs-2 pl-xs-2 pb-xs-1 pt-xs-4 pb-md-2 pt-md-5">
            If it’s handcrafted, vintage, custom or unique, it’s on Etsy. </h1>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <div class="card orange-card">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-block card-force-center" style="text-align:center">
                                <h4 class="card-title serif_text">Plan your day of decadence with finds that ship free.</h4>
                                <a href="#">Shop now ></a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-img-bottom image-inside">
                                <img src="static/etsy_core/img/cat_fur.png" height="325px" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="row" style="height:50%">
                <div class="card">
                    <img class="card-img-top image-inside" src="static/etsy_core/img/present_box.png">
                    <div class="card-img-overlay">
                        <h4 class="card-title">Give them something great</h4>
                        <a href="#">Shop now ></a>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:22px">
                <div class="card orange-card" style="width:100%">
                    <div class="card-body">Shop ready-to-ship finds ></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="row justify-content-center">
                <span>
                    <i class="fas fa-check orange-color"></i>
                </span>
                <span>Unique everything</span>
            </div>
            <div class="row justify-content-center" style="margin:auto">
                We have millions of one-of-a-kind items, so you can find whatever you need (or really, really want).
            </div>
        </div>

        <div class="col-md-4">
            <div class="row justify-content-center">
                <span>
                    <i class="fas fa-check orange-color"></i>
                </span>
                <span>Independent sellers</span>
            </div>
            <div class="row justify-content-center" style="margin:auto">
                Buy directly from someone who put their heart and soul into making something special.
            </div>
        </div>

        <div class="col-md-4">
            <div class="row justify-content-center">
                <span>
                    <i class="fas fa-check orange-color"></i>
                </span>
                <span>Secure shopping</span>
            </div>
            <div class="row justify-content-center" style="margin:auto">
                We use best-in-class technology to protect your transactions.
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:50px; margin-left:1px">
        <h2>Recently viewed & more</h2>
    </div>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/etsy_core/img/shoes_test.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title long-text little-card-title">Sunflower Custom Nike Roshe</h5>
                <p class="card-text little-card-owner">winkclink</p>
                <p class="card-text little-card-price">€121.57</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/etsy_core/img/photo_test.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title long-text little-card-title">Boyfriend Gift /Girlfriend Gift/Gifts for Him /Gifts
                    for Her/Anniversary Frame Gift /Boyfriend Frame/Boyfriend Photo Frame/Girlfriend Gift/</h5>
                <p class="card-text little-card-owner">DaisyMadeKeepsakes</p>
                <p class="card-text little-card-price">€23.63</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/etsy_core/img/glass_test.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title long-text little-card-title">Hand painted yellow sunflower stemless wine glass</h5>
                <p class="card-text little-card-owner">UncorkedbyCourt</p>
                <p class="card-text little-card-price">€19.84</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/etsy_core/img/box_test.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title long-text little-card-title">Made to Order Personalised Wood Photo Box Keepsake,
                    Birthday gift, Best Friend gift, Best Friend photo keepsake, Friend keepsake, Memory box</h5>
                <p class="card-text little-card-owner">SimplyUres</p>
                <p class="card-text little-card-price">€29.52</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/etsy_core/img/shirt1_test.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title long-text little-card-title">Ma buiriful shirt</h5>
                <p class="card-text little-card-owner">ShirtMaster</p>
                <p class="card-text little-card-price">€22.43</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/etsy_core/img/shirt2_test.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title long-text little-card-title">Trendy shirt</h5>
                <p class="card-text little-card-owner">BigFish</p>
                <p class="card-text little-card-price">€17.90</p>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:50px; margin-left:1px">
        <h2>Shop for gifts</h2>
    </div>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/etsy_core/img/gift_aniversary.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title long-text little-card-title">Anniversary gifts</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/etsy_core/img/gift_him.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title long-text little-card-title">Gifts for him</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/etsy_core/img/gift_her.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title long-text little-card-title">Gifts for her</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/etsy_core/img/gift_personalized.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title long-text little-card-title">Personalized gifts ideas</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/etsy_core/img/gift_wedding.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title long-text little-card-title">Wedding gifts</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/etsy_core/img/gift_house.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title long-text little-card-title">Housewarming gifts</h5>
            </div>
        </div>
    </div>


</div>

<div class="brand-banner" style="margin-top:50px">
    <div class="banner-image image-1"><img src="static/etsy_core/img/man_with_cat.png" width="337" height="244" /></div>
    <div class="text" style="width:75%">
        <h3 class="serif_text">Start selling on Etsy</h3>
        <p>Millions of shoppers can't wait to see what you have in store.</p>
    </div>
    <div class="banner-image image-2"><img src="static/etsy_core/img/organized_man.png" width="379" height="322" /></div>
    <div class="banner-background"></div>
</div>

<div class="brand-banner" style="margin-top:100px; margin-bottom:50px">
    <div class="banner-image image-1"><img src="static/etsy_core/img/woman_with_dog.png" /></div>
    <div class="text">
        <h3 class="serif_text">What is Etsy?</h3>
        <p>We're more than a marketplace.</p>
    </div>
    <div class="banner-image image-2"><img src="static/etsy_core/img/woman_with_gifts.png" /></div>
    <div class="banner-background"></div>
</div>



{% endblock %}
