{% extends "base.html" %}

{# load staticfiles #}

{% block title %}Home{% endblock %}

{% block content %}

<!--Hola que tal :)
<a href="{% url 'login' %}?next={{request.path}}">Login</a>
<a href="{% url 'signup' %}">Sign up</a>
<a href="{% url 'create_shop' %}">Sign up</a>-->
{% if user.has_shop %}
<a href="{% url 'create_product' user.shop.id %}">New product</a>
{% endif %}
<link type="text/css" rel="stylesheet" href="/static/admin/css/home.css">

<div id="content" class="clear" role="main">
    <div class="search-head-title-wrap horizontal-center appears-ready">
        <h1 class="home-title text-center pr-xs-2 pl-xs-2 pb-xs-1 pt-xs-4 pb-md-2 pt-md-5">
            If it’s handcrafted, vintage, custom or unique, it’s on Etsy. </h1>
    </div>

    <div class="contentful vesta-hero layout-3-pane row body-max-width pt-xs-2 pt-md-3" data-language="en-GB">
        <div class="col-xs-12 col-md-12 col-lg-8 pb-xs-3 pb-lg-0">
            <div data-carousel-container="" class="carousel-container " data-autoplay="5000" data-track-clicks="false"
                data-track-impressions="false" data-pagination-color-class="pagination-dot-white">


                <ul class="carousel is-enabled" data-carousel="">


                    <li class="carousel-pane is-active" style="overflow: hidden; left: 0px;" data-carousel-pane=""
                        data-carousel-pane-number="1">
                        <a href="https://www.etsy.com/search/jewelry?q=raw+stone&amp;mosv=sese&amp;moci=398964476931&amp;mosi=389537655878&amp;explicit=1&amp;ship_to=ZZ&amp;free_shipping=true&amp;ref=primary_hero"
                            class="hero-split three-pane-primary-split rounded height-full hero-split-33-67 hero-split-40-60 2243_primary_jewelry parent-hover-underline"
                            data-hero-event-namespace="data-hero-track-clicks=false" style="background-color:#FAA129;">
                            <div class="hero-split-body align-self-center height-full">
                                <div class="primary-banner-content split  height-full display-flex-xs flex-direction-column-xs pt-xs-3 pb-xs-3 justify-content-center pl-xs-3 pr-xs-3 text-center"
                                    data-carousel-pane-event-namespace="2243_primary_jewelry">
                                    <div class="position-relative " data-url="" style="color:#222222;">
                                        <h2 class="primary-banner-title text-headline mb-xs-2 "><span>
                                                These handcrafted beauties ship for free.
                                            </span></h2>
                                        <p class="strong" data-carousel-pane-cta-click-event="">
                                            Shop <span class="cta-text-with-arrow display-inline-block">now<span class="etsy-icon icon-smaller icon-l-4"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        aria-hidden="true" focusable="false">
                                                        <path d="M10,17a1,1,0,0,1-.707-1.707L12.586,12,9.293,8.707a1,1,0,0,1,1.414-1.414L15.414,12l-4.707,4.707A1,1,0,0,1,10,17Z"></path>
                                                    </svg></span></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="hero-split-visuals ">

                                <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="https://i.etsystatic.com/ijxs/8cf6ee/1618964966/ijxs_onexthird.1618964966_9eglg10o.jpg?version=0 1x, https://i.etsystatic.com/ijxs/8cf6ee/1618964966/ijxs_twoxthird.1618964966_9eglg10o.jpg?version=0 2x, https://i.etsystatic.com/ijxs/8cf6ee/1618964966/ijxs_fullxfull.1618964966_9eglg10o.jpg?version=0 3x"
                                        media="(max-width: 639px)">
                                    <source srcset="https://i.etsystatic.com/ij/cbdaa1/1666388451/ij_halfxhalf.1666388451_s558rqug.jpg?version=0 1x, https://i.etsystatic.com/ij/cbdaa1/1666388451/ij_fullxfull.1666388451_s558rqug.jpg?version=0 2x"
                                        media="(max-width: 899px)">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="https://i.etsystatic.com/ij/d6eac6/1618965046/ij_halfxhalf.1618965046_tn41up4t.jpg?version=0"
                                        srcset="https://i.etsystatic.com/ij/d6eac6/1618965046/ij_halfxhalf.1618965046_tn41up4t.jpg?version=0 1x, https://i.etsystatic.com/ij/d6eac6/1618965046/ij_fullxfull.1618965046_tn41up4t.jpg?version=0 2x"
                                        class="height-full width-full display-block hero-image object-fit-cover" alt=""
                                        aria-hidden="true" role="presentation">
                                </picture>

                            </div>
                        </a>
                    </li>



                </ul>


                <div class="display-none">
                    <div class="mt-md-2 text-center" data-carousel-pagination="" data-overlay-pagination="true"
                        data-hide-pagination="true"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pl-lg-0 row">
            <div class="col-md-8 col-lg-12 pb-lg-1 pb-xs-3 pb-md-0 pb-lg-3 pl-xs-0 pr-xs-0 pr-md-3 pr-lg-0">
                <div class="hero-full-bleed position-relative clearfix overflow-hidden three-pane-secondary weddings_row"
                    data-bottom-trim="72" data-hero-event-namespace="data-hero-track-clicks=false" style="background-color:#222222;">

                    <a href="https://www.etsy.com/search?q=wedding+party+gift&amp;mosv=sese&amp;moci=366549398047&amp;mosi=357928711294&amp;ref=secondary_hero"
                        class="parent-hover-underline">
                        <div data-carousel-pane-click-event="" class="hero-full-bleed-pane height-full">
                            <div class="visuals position-absolute width-full height-full overflow-hidden">


                                <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="https://i.etsystatic.com/ij/46baba/1670072783/ij_halfxhalf.1670072783_e2j5adlq.jpg?version=0 1x, https://i.etsystatic.com/ij/46baba/1670072783/ij_fullxfull.1670072783_e2j5adlq.jpg?version=0 2x"
                                        media="(max-width: 899px)">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img src="https://i.etsystatic.com/ij/cb3a4e/1618964708/ij_halfxhalf.1618964708_hd5j7scw.jpg?version=0"
                                        srcset="https://i.etsystatic.com/ij/cb3a4e/1618964708/ij_halfxhalf.1618964708_hd5j7scw.jpg?version=0 1x, https://i.etsystatic.com/ij/cb3a4e/1618964708/ij_fullxfull.1618964708_hd5j7scw.jpg?version=0 2x"
                                        class="height-full width-full display-block hero-image object-fit-cover" alt=""
                                        aria-hidden="true" role="presentation">
                                </picture>



                            </div>
                            <div class="secondary-banner-content  width-full height-full display-flex-xs flex-direction-column-xs pt-xs-2 pb-xs-2 justify-content-flex-end pl-xs-2 pr-xs-2 pl-md-3 pr-md-3 text-left"
                                data-carousel-pane-event-namespace="weddings_row">
                                <div class="position-relative p-xs-0 col-xs-8 col-sm-7 col-md-8">
                                    <h3 class="secondary-banner-title text-title-smaller pb-xs-1 pb-lg-2 text-gray-darker strong"
                                        data-carousel-pane-cta-click-event="">
                                        <span>
                                            Presents for the wedding party.
                                        </span>
                                    </h3>
                                    <p class="secondary-banner-cta text-body text-gray-darker strong">
                                        Shop <span class="cta-text-with-arrow display-inline-block">gifts<span class="etsy-icon icon-smaller icon-l-4"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"
                                                    focusable="false">
                                                    <path d="M10,17a1,1,0,0,1-.707-1.707L12.586,12,9.293,8.707a1,1,0,0,1,1.414-1.414L15.414,12l-4.707,4.707A1,1,0,0,1,10,17Z"></path>
                                                </svg></span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-12 pl-xs-0 pr-xs-0">
                <div class="hero-full-bleed position-relative clearfix overflow-hidden three-pane-tertiary ready-to-ship"
                    data-bottom-trim="72" data-hero-event-namespace="data-hero-track-clicks=false" style="background-color:#FAA129;">

                    <a href="https://www.etsy.com/c?explicit=1&amp;max_processing_days=3&amp;instant_download=false&amp;use_mmx=1&amp;ref=tertiary_hero"
                        class="parent-hover-underline">
                        <div data-carousel-pane-click-event="" class="hero-full-bleed-pane height-full">
                            <div class="visuals position-absolute width-full height-full overflow-hidden">






                            </div>
                            <div class="tertiary-banner-content  height-full display-flex-xs flex-direction-column-xs pt-xs-2 pb-xs-2 justify-content-center pl-xs-2 pr-xs-2 pl-md-3 pr-md-3 text-left"
                                data-carousel-pane-event-namespace="ready-to-ship">
                                <h4 class="text-body  strong" data-carousel-pane-cta-click-event="" style="color:#222222;">
                                    Shop ready-to-ship <span class="cta-text-with-arrow display-inline-block">finds<span
                                            class="etsy-icon icon-smaller icon-l-4"><svg xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                                <path d="M10,17a1,1,0,0,1-.707-1.707L12.586,12,9.293,8.707a1,1,0,0,1,1.414-1.414L15.414,12l-4.707,4.707A1,1,0,0,1,10,17Z"></path>
                                            </svg></span></span>
                                </h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}