{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block css %}
<link href="/static/etsy_core/css/login.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}
<div class="ui-toolkit login-main">
    <div class="overlay-body login-body">
        <div class="col-group col-flush">
            <div class="col-xs-12">
                <div id="join-neu-content" class="bg-white mb-xs-2">
                    <div>
                        <form id="join-neu-form" class="position-relative" method="POST" action="">
                            {% csrf_token %}
                            {% load myfilters %}
                            <div class="col-group col-fliush">
                                <div class="col-xs-12">
                                    <div class="mb-xs-2">
                                        <h1 class="text-title pb-xs-2">
                                            Sign in to continue
                                        </h1>
                                    </div><!-- closing div mb-xs-2 -->

                                    <div class="mb-xs-2 has-validation">
                                        <label class="mb-xs-1 strong text-body">
                                            Email address
                                        </label>
                                        {{ form.email|addcss:"input input-large" }}
                                        {{ form.email.errors }}
                                        <div id="aria-join_neu_email_field-error" class="has-error-msg mt-xs-1 text-red">
                                        </div><!-- closing div aria-join_neu_email_field-error -->
                                    </div><!-- closing div mb-xs-2 -->

                                    <div class="mb-xs-2 has-validation">
                                        <label class="mb-xs-1 strong text-body">
                                            Password
                                        </label>
                                        {{ form.password|addcss:"input input-large" }}
                                        {{ form.password.errors }}
                                        {{ form.non_field_errors }}
                                        <div id="aria-join_neu_password_field-error" class="has-error-msg mt-xs-1 text-red">
                                        </div><!-- closing div aria-join_neu_email_field-error -->
                                    </div><!-- closing div mb-xs-2 -->

                                    <div class="col-group col-fluish mb-xs-3">
                                        <div class="col-xs-6">
                                            <label class="checkbox-custom checkbox-large">
                                                <input class="checkbox" name="persistent" value="true" checked="" type="checkbox">
                                                <span class="checkbox-label">
                                                    Stay signed in
                                                </span>
                                            </label>
                                        </div><!-- closing div  col-xs-6-->

                                        <div class="col-xs-6 text-right custom-margin-top-5px">
                                            <a class="text-gray-lighter text-body-smaller" href="#">
                                                Forgot your password?
                                            </a>
                                        </div><!-- closing div  col-xs-6-->
                                    </div><!-- closing div col-group col-fluish mb-xs-3 -->

                                    <div>
                                        <div class="has-validation">
                                            <button class="btn btn-large width-full btn-primary" type="submit" name=""
                                                value="sing-in">
                                                Sign in
                                            </button>
                                            <div class="has-error-msg mt-xs-1 text-red">

                                            </div><!-- closing has-error-msg mt-xs-1 text-red -->
                                        </div><!-- closing div has-validation -->
                                    </div>

                                    <p class="text-body-smaller text-center mt-xs-3">
                                        <a class="text-gray-lighter underline" href="#">
                                            Trouble signing in?
                                        </a>
                                    </p>
                                </div><!-- closing div col-xs-12 -->
                            </div><!-- closing div col-group col-flush -->

                            <div class="col-group col-flush">
                                <div class="mb-xs-4 mt-xs-4 bb-xs-1 text-center" style="line-height:0;">
                                    <span class="bg-white p-xs-2 vertical-align-bottom text-gray-lighter" style="line-height:0;">
                                        Or
                                    </span>
                                </div><!-- closing div mb-xs-4 mt-xs-4 bb-xs-1 text-center -->
                            </div><!-- closing div col-group col-flush -->

                            <div class="col-group col-flush">
                                <div class="col-xs-12">
                                    <div>
                                        <input name="google_user_id" value="" type="hidden">
                                        <input name="google_code" value="" type="hidden">
                                        <button class="btn btn-large btn-secondary width-full" type="button">
                                            <span class="display-none spinner spinner-small display-inline-block vertical-align-middle mr-xs-1 icon-b-1"></span>

                                            <span aria-hidden="true">
                                                <span class="etsy"></span>
                                            </span>
                                            Login with google
                                        </button>
                                    </div>
                                </div><!-- closing div col-xs-12 -->
                                <div></div>
                                <p id="aria-privacy-policy" class="privacy-policy text-body-smaller text-gray-lighter mt-xs-3">

                                </p>
                            </div><!-- closing div col-group col-flush -->
                        </form>
                    </div>
                </div><!-- closing div join-neu-content -->
            </div><!-- closing div col-xs-12 -->
        </div><!-- closing div col-group col-flush -->
    </div><!-- clsoing div overlay-body -->
</div><!-- closing div overlay-view overlay-small mt-xs-0 mt-md-4 mb-xs-0 mb-md-4 -->
{% endblock %}