{% extends "base.html" %}

{% block title %}{{ shop.name }}{% endblock %}
{% block css %}
<link href="/static/etsy_core/css/owners_shop.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row info-row">
		<div class="col-sm-3">
			<!-- TODO: Shop's image -->
			{% if shop.shop_profile_image %}
			<div class="shop_logo" style="background-image: url({{ shop.shop_profile_image.url }})"></div>
			{% else %}
			<div class="shop_logo" style="background-image: url(https://www.etsy.com/images/avatars/default_shop_icon_500x500.png)"></div>
			{% endif %}
			{% if is_owner %}
			<form enctype="multipart/form-data" id="edit-image-form" method="post" action="{% url 'shop_logo' shop.id %}">
				{% csrf_token %}
				<input type="file" id="file" style="display:none;" name="image" hidden />
				<button type="button" class="btn btn-primary" id="edit_picture_button"><i class="fas fa-camera"></i></button>
			</form>
			{% endif %}
		</div>

		<div class="col-sm-6">
			<h4>{{ shop.name }}</h4>

			<!-- TODO: Number of sales and year-->
			<p>0 Sales | On Etsy since 1969 <br></p>

			<!-- TODO: Number of favourite shops and button links -->

			{% if is_owner %}
			<button class="btn btn-primary" style="border: 0;"><i class="fas fa-pen" style="vertical-align: inherit; margin-right: 4px; font-size:xx-small"></i>
				Edit shop</button>
			<a href="{% url 'create_product' shop.id %}" class="btn btn-primary" style="border: 0;">New product</a>
			{% endif %}

			{% if not is_owner %}
			<form enctype="multipart/form-data" id="edit-image-form" method="post" action="{% url 'update_user_favourite_shop' shop.id %}" style="display:inline-block">
				{% csrf_token %}
				<button class="btn shop-button">
					{% if is_favourite %}
					<t><i class="fas fa-heart" style="color:#C13C27"></i> Stop following </t>
					{% else %}
					<t><i class="fas fa-heart"></i> Favourite shop</t>
					{% endif %}
				</button>
			</form>
			{% endif %}

			<button class="btn">
				<i class="fab fa-facebook-square"></i>
			</button>

			<button class="btn">
				<i class="fab fa-twitter-square"></i>
			</button>

			<button class="btn">
				<i class="fab fa-pinterest-square"></i>
			</button>
		</div>

		<div class="col-sm-3">
			<!-- TODO: Shop Owner's name, image and links -->
			<div style="text-align:center">
				{% if user.profile_image %}
				<img src="{{ user.profile_image.url }}" class="img-circle" alt="Owner's Logo" style="width: 64px; height: 64px;">
				{% else %}
				<img src="https://images-na.ssl-images-amazon.com/images/I/41sfz8dKX1L.jpg" class="img-circle" alt="Owner's Logo" style="width: 64px; height: 64px;">
				{% endif %}
				<br>{{ shop.shop_owner.first_name }}<br>
				<a href="#" style="color: #969696">
					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFUSURBVGhD7dmhSgRRFIfxUVEMmyw+gEXEps+xBrWIQdHgGyjIZquCxSpYNIv4BgaTQYMg6DtYRNDvBOEwjDN4z8y9c+X84VeWvXv5YMKyW/h8vta3hfsEbiF3j6OVHeAroStMwLzUIWIb5vUh5AbmzWM9shPokAdkuQ14SJ9mCpnFLvYjGWIKVQsO2cQ79OEYnjCH8oJClvEJfTCmR0xCLyjkHPpQCivQCwqR7zX60B0uO/YKfech9IJC5E36kHxI17uAvvMIeh6iD3nIH+YhdfMQwzykbh5imIfUzUMMawqZwZKygMb1MSRoHmKYh9Tt34fIzzVnHXmGvnME86pC1vChXuvaKswrh8j/ETEjXjAN88ohMb1hEa2sKeQaVc+5xTF2MEBrqws5xRiy2G8hWUXIqkKyi5CVQ7KMkOmQbCNkPyFZR8gkJPsI2R6yj/ClXVF8A6VQoQ7rux03AAAAAElFTkSuQmCC"
					 style="width: 16px; height: 16px;">
					Contact
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="row-heading">
			<div>
				<div class="panel-heading">
					<div class="row" style="margin-left: 10%; margin-right: 10%;">
						<div class="col-sm-6" style="padding-top: 7px;">
							<!-- TODO: Number of items, link to policies -->
							<t style="color: #595959">
								Items ({{ shop.product_set.count }})
								&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;
								<a href="#" style="color: #595959">
									Policies
								</a>
							</t>
						</div>

						<div class="col-sm-6" align="right">
							<!-- TODO: Search Engine -->
							<div class="search-input-container">
								<i class="fas fa-search search-icon"></i>
								<input class="search-input" placeholder="Search Items"></input>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 16px; margin-left: 10%; margin-right: 10%;">
		<div class="col-sm-2">
			<b style="font-size: 120%">Items</b>
			<br><br>
			<!-- TODO: What is this? -->
			<button type="button" class="btn-block" style="border: none; padding: 4px 7px; text-align: left; color: black;"
			 disabled>All<span style="float: right;">{{ shop.product_set.count }}</span></button>
			<br>
			<button type="button" class="btn-block" style="padding: 4px 7px; color: #545454;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFUSURBVGhD7dmhSgRRFIfxUVEMmyw+gEXEps+xBrWIQdHgGyjIZquCxSpYNIv4BgaTQYMg6DtYRNDvBOEwjDN4z8y9c+X84VeWvXv5YMKyW/h8vta3hfsEbiF3j6OVHeAroStMwLzUIWIb5vUh5AbmzWM9shPokAdkuQ14SJ9mCpnFLvYjGWIKVQsO2cQ79OEYnjCH8oJClvEJfTCmR0xCLyjkHPpQCivQCwqR7zX60B0uO/YKfech9IJC5E36kHxI17uAvvMIeh6iD3nIH+YhdfMQwzykbh5imIfUzUMMawqZwZKygMb1MSRoHmKYh9Tt34fIzzVnHXmGvnME86pC1vChXuvaKswrh8j/ETEjXjAN88ohMb1hEa2sKeQaVc+5xTF2MEBrqws5xRiy2G8hWUXIqkKyi5CVQ7KMkOmQbCNkPyFZR8gkJPsI2R6yj/ClXVF8A6VQoQ7rux03AAAAAElFTkSuQmCC"
				 style="width: 16px; height: 16px;"> Contact shop owner</button>
			<br>

			<hr>

			<br>
			<!-- TODO: This numbers -->
			<div style="color: #969696;">
				<span style="text-decoration: underline;">0 Sales</span><br>
				0 Admirers
			</div>

		</div>

		<div class="col-sm-7" align="center" style="vertical-align: middle;">
			<!-- TODO: Check if there aren't any items, if not, show them -->
			{% if shop.product_all.count is 0 %}
			<img src="/static/admin/img/no_items.png">
			<br>No items listed at this time
			{% else %}
			{% for fav_shop in user.favourite_shops.all %}
				{{ fav_shop }}
			{% endfor %}
			{% for product in shop.product_set.all %}
			<a href="/shop/{{shop.id}}/product/{{product.id}}" class='first-product-button'>{{ product.name }}</a>
			{% endfor %}
			{% endif %}
		</div>

		<div class="col-sm-3" align="right">
			<select class="form-control">
				<option>Sort: Most Recent</option>
				<option>Sort: Most Popular</option>
			</select>
		</div>
	</div>

	<div class="row" style="margin-top: 16px; margin-left: 10%; margin-right: 10%;">
		<div class="col-sm-12">
			<br><br>
			<hr>

			<b style="font-size: 120%">Shop policies</b>
			<br><span style="color: #696969">Last updated on --</span>
			<br><br><br><br>

		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	$('#edit_picture_button').click(function () {
		$('#file').click();
	})

	$("#file").change(function () {
		$("#edit-image-form").submit();
	});
</script>
{% endblock %}