{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<link type="text/css" rel="stylesheet" href="/static/etsy_core/css/profile.css">

<div id="content" class="clear profile-content" role="main" style="width:100%">

    <div class="row" style="margin-left: 18px;">
        <div class="col-3-md profile-photo" style="width: 228px;height: 228px;">
            {% if user.profile_image %}
            <img src="{{ user.profile_image.url}}" class="img-fluid profile-img" alt="profile photo">
            {% else %}
            <img src="/static/etsy_core/img/default_avatar.png" class="img-fluid profile-img" alt="profile photo">
            {% endif %}
            {% if is_owner %}
            <form enctype="multipart/form-data" id="edit-image-form" method="post" action="/profile/{{ user.id }}/avatar">
                {% csrf_token %}
                <input type="file" id="file" style="display:none;" name="image" hidden />
                <button type="button" class="btn btn-primary" id="edit_picture_button"><i class="fas fa-camera"></i></button>
            </form>
            {% endif %}
        </div>


        <div class="col-4-md" style="margin-left:78px; margin-top: 15px">
            <div class="row">
                <span class="profile-name">{{ user.first_name }}</h1>
            </div>
            <div class="row">
                <a class="profile-follow"><b>0</b> Following</a>
                <a class="profile-follow"><b>0</b> Followers</a>
            </div>
            <div class="row" style="margin-top:10px">
                <a class="btn profile-button">
                    <i class="fas fa-pen"></i>
                    Edit Profile
                </a>
            </div>
        </div>
        <div class="col-3-md" style="margin-left:100px; margin-top: 15px">
            <div class="row">
                <span class="profile-h3">About</h3>
            </div>
            <div class="row">
                <span class="profile-joined">Joined September 21, 2018</span>
            </div>
            <div class="row" style="margin-top:10px">
                <a href="{% if user.has_shop %}{% url 'shop' user.shop.id %}{% else %}{% url 'create_shop' %}{% endif %}"
                    class="btn profile-button">
                    <i class="fas fa-store-alt"></i>
                    Visit your shop >
                </a>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:40px">
        <ul class="nav nav-tabs" id="profileNav" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Favourite items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                    aria-selected="false">Favourite shops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                    aria-selected="false">Lists</a>
            </li>
        </ul>
    </div>
    <div id="placeholder_profile">
        <img src="/static/etsy_core/img/etsy_heart.svg" class="rounded mx-auto d-block" style="margin-top:48px; height: 180px">
        <span class="d-block" style="text-align:center; margin-top:12px; color: #595959;">
            These are a few of your favourite things... or they will be, once you favourite something.
        </span>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var selected = $("#profileNav").find(".active").attr('id')
    switch (selected) {
        case 'home-tab':
            $('#placeholder_profile').html('test')
    }
</script>
<script>
    $('#edit_picture_button').click(function () {
        $('#file').click();
    })

    $("#file").change(function () {
        $("#edit-image-form").submit();
    });
</script>
{% endblock %}