{% extends "base.html" %}

{% block title %}Prodile Edit{% endblock %}

{% block css %}
<link href="/static/etsy_core/css/profile_edit.css?v1.2" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}

<div class="content bg-FAF9F5">
    <aside>
        <ul>
            <li class="aside_links">
                <a href="#">
                    Purchase & Reviews
                </a>
            </li>

            <li class="aside_links">
                <a href="#">
                    Public Profile
                </a>
            </li class="aside_links">

            <li>
                <a href="#">
                    Settings
                </a>
            </li>

            <li class="aside_links">
                <a href="#">
                    Apps
                </a>
            </li>

            <li class="aside_links">
                <a href="#">
                    Prototypes
                </a>
            </li>

            <li class="aside_links">
                <a href="#">
                    Sign Out
                </a>
            </li>
        </ul>
    </aside>

    <section>
        <div class="title-section">
            <div class="title-text">
                <h2>Your Public Profile</h2>
                <h3>Everything on this page can be seen by anyone</h3>
            </div><!-- closing div title-text -->
        
            <div class="title-button">
                <a href="#">
                    View profile
                </a>
            </div><!-- closing div title-button -->
        </div><!-- closing div title-section -->

        <div class="body-section">
            <div class="underline">
                
            </div><!-- closing div underline -->
        </div><!-- closing div body-section -->

        <div class="button-section">
            <button class="save_changes">Save Changes</button>
        </div><!-- button-section -->
    </section>

    
</div>

{% endblock %}