<div id="content" class="clear" role="main">
    <div class="bg-white">
        <div class="col-group body-max-width">
            <div class="col-xs-12">
                <ol class="subway width-full list-unstyled pt-xs-5 pb-xs-5">
                    <li class="subway-stop is-active">
                        <a>
                            <div class="subway-stop-dot">
                                <span class="subway-stop-icon ss-etsy ss-check"></span>
                            </div><!-- closing div subway-stop-dot -->
                            <div class="subway-stop-title hide-xs hide-sm">
                                Shop preferences
                            </div><!-- closing div subway-stop-title hide-xs hide-sm -->
                        </a>
                    </li>
                    <li class="subway-stop">
                        <a>
                            <div class="subway-stop-dot">
                                <span class="subway-stop-icon ss-etsy ss-check"></span>
                            </div><!-- closing div subway-stop-dot -->
                            <div class="subway-stop-title hide-xs hide-sm">
                                Name your shop
                            </div><!-- closing div subway-stop-title hide-xs hide-sm -->
                        </a>
                    </li>
                    <li class="subway-stop">
                        <a>
                            <div class="subway-stop-dot">
                                <span class="subway-stop-icon ss-etsy ss-check"></span>
                            </div><!-- closing div subway-stop-dot -->
                            <div class="subway-stop-title hide-xs hide-sm">
                                Stock your shop
                            </div><!-- closing div subway-stop-title hide-xs hide-sm -->
                        </a>
                    </li>
                    <li class="subway-stop">
                        <a>
                            <div class="subway-stop-dot">
                                <span class="subway-stop-icon ss-etsy ss-check"></span>
                            </div><!-- closing div subway-stop-dot -->
                            <div class="subway-stop-title hide-xs hide-sm">
                                How you'll get paid
                            </div><!-- closing div subway-stop-title hide-xs hide-sm -->
                        </a>
                    </li>
                    <li class="subway-stop">
                        <a>
                            <div class="subway-stop-dot">
                                <span class="subway-stop-icon ss-etsy ss-check"></span>
                            </div><!-- closing div subway-stop-dot -->
                            <div class="subway-stop-title hide-xs hide-sm">
                                Set up billing
                            </div><!-- closing div subway-stop-title hide-xs hide-sm -->
                        </a>
                    </li>
                </ol>
            </div><!-- closing div col-xs-12 -->
        </div><!-- closing div col-group body-max-width -->
    </div><!-- closing div bg-white -->

    <div class="bt-xs-1">
        <div class="col-group body-max-width">
            <div class="col-xs-12 pt-xs-5 pb-md-2">
                <div>
                    <!-- ERRORS -->
                </div>

                <div class="animated animated-fade-in">
                    <h1 class="text-center mb-xs-1">
                        Shop preferences
                    </h1>
                    <div class="col-group p-xs-0 text-center">
                        <div class="col-centered col-xs-12 col-lg-6 mb-xs-4 mb-md-5">
                            Let's get started! Tell us about you and your shop.
                        </div>
                    </div><!-- closing div col-group p-xs-0 text-center -->

                    <div class="col-group col-flush">
                        <div class="col-xs-12">
                            <div class="panel mb-xs-2 mb-md-0">
                                <div class="panel-body p-md-4 p-lg-6">
                                    
                                </div><!-- closing div panel-body p-md-4 p-lg-6 -->
                            </div><!-- closing div panel mb-xs-2 mb-md-0 -->
                        </div><!-- clsoing div col-xs-12 -->
                    </div><!-- closing div col-group col-flush -->
                </div><!-- closing div animated animated-fade-in -->

                <div class="display-none animated animated-fade-in">

                </div><!-- closing div display-none animated animated-fade-in -->

                <div class="display-none animated animated-fade-in">

                </div><!-- closing div display-none animated animated-fade-in -->

                <div class="display-none animated animated-fade-in">

                </div><!-- closing div display-none animated animated-fade-in -->

                <div class="display-none animated animated-fade-in">

                </div><!-- closing div display-none animated animated-fade-in -->
            </div><!-- closing div col-xs-12 pt-xs-5 pb-md-2 -->
        </div><!-- closing div col-group body-max-width -->
    </div><!-- closing div bt-xs-1 -->
</div><!-- closing div content -->