{% extends "base.html" %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
<link href="/static/etsy_core/css/shopping_cart.css" rel="stylesheet" type="text/css" media="all" />
<div class="cart-background">
    <div id="content" class="cart-background" role="main" style="width:75%">
        <div class="empty-text" style="float:left;">
                {{ products|length }} items in your cart
        </div>
        <div style="float:right;">
            <a href="/" class="btn cart-button">
                Keep shopping
            </a>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="container">
                <div class="card">
                    <div class="row">
                        {% if products|length != 0 %}
                        <div class="col-md-8">
                            {% for product in products %}
                                <div class="shop">
                                    {% if product.product.shop_id.shop_profile_image %}
                                    <img class="shop-image" src="{{ product.product.shop_id.shop_profile_image.url }}"/>
                                    {% else %}
                                    <img src="https://www.etsy.com/images/avatars/default_shop_icon_75x75.png" />
                                    {% endif %}
                                    <span class="shop-name">{{ product.product.shop_id.name }}</span>
                                </div>
                                <div class="card cart-card product-card">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <div class="product-image" style="background-image: url('{{ product.product.get_first_image }}'); height: 157px; width: 200px;"></div>
                                        </div>
                                        <div class="col" style="margin-left: 24px;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p class="card-text">{{ product.product.name|upper }}</p>
                                                    <p class="card-text">{{ product.product.description }}</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select class="form-control" id="select-prod-{{ product.product.id }}" style="width: 80px">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" style="text-align:right;">
                                                    <p class="card-text bold">{{ product.product.price }}{{ product.product.shop_id.currency }}</p>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-4">
                            <div class="col" style="width:10px; margin-right:0px;">
                                <hr class="vhr">
                            </div>
                            <div class="col-md-10" style="margin:30px;">
                                How you'll pay
                                <div class="custom-control custom-radio" style="margin-top:10px;">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
                                    <label class="custom-control-label" for="customRadio1" active><i class="fab fa-cc-visa" style="font-size:30px;position: relative; top: -4.5px;"></i></label>
                                </div>
                                <table style="width:100%; margin-top:10px;">
                                    <tbody>
                                        <tr>
                                            <th class="unstyled normal">Item(s) total</th>
                                            <td class="unstyled text-right normal">{{ total }}{{ products.0.product.shop_id.currency }}</td>
                                        </tr>
                                        <tr style="border-bottom:1px solid #dfe3df">
                                            <th class="unstyled normal">Discount</th>
                                            <td class="unstyled text-right normal">-0.00{{ products.0.product.shop_id.currency }}</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th class="unstyled normal bold">Subtotal</th>
                                            <td class="unstyled text-right normal bold">{{ total }}{{ products.0.product.shop_id.currency }}</td>
                                        </tr>
                                        <tr>
                                            <th class="unstyled normal">Shipping</th>
                                            <td class="unstyled text-right normal">0.00{{ products.0.product.shop_id.currency }}</td>
                                        </tr>
                                        <tr style="border-bottom:1px solid #dfe3df">
                                            <th class="unstyled normal" style="font-size: 10px;">(To Terrassa)</th>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th class="unstyled normal bold">Total ({{ product.amount }} item)</th>
                                            <td class="unstyled text-right normal bold">{{ total }}{{ products.0.product.shop_id.currency }}</td>
                                        </tr>
                                    </tbody>
                                </table>


                                <div style="margin-top:20px;">
                                    <button class="btn btn-primary" type="submit" style="width:100%; height:50px;">
                                        <a class="checkout-btn bold" href="">Proceed to checkout</a>
                                    </button>
                                </div>

                                <div style="margin-top:10px;">
                                    <p style="text-align:center; font-size: 13px; color: gray">VAT included (where applicable)
                                            Additional duties and taxes may apply</p>
                                </div>

                                
                                <hr>
                            </div>  
                        </div>
                        {% else %}
                        <p class="col-md-12 empty-text" style="text-align:center; margin-top: 30px; margin-bottom: 30px;">
                            Your cart is empty!
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--{% for product in products %}
{{ product.product.name|upper }}
{{ product.product.price }}
{{ product.amount }}
{% endfor %}-->

{% endblock %}

{% block scripts %}
{% for product in products %}
<script>
    $('#select-prod-{{ product.product.id }} option[value="{{ product.amount }}"]').prop('selected', true);
    $('#select-prod-{{ product.product.id }}').on('change', function(){
        window.location.href = window.location.origin + "/cart/amount/{{ product.product.id }}/?qty=" + this.value;
    });
</script>
{% endfor %}
{% endblock %}
