{% extends "base.html" %}
{% block title %}Prodile Edit{% endblock %}

{% block css %}
<link href="/static/etsy_core/css/shop_edit.css?v1.5" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}

<div class="content bg-FAF9F5">
    <section>
        <div class="title-section">
            <div class="title-text">
                <h2>Your Shop Profile</h2>
                <h3>Everything on this page can be seen by anyone</h3>
            </div><!-- closing div title-text -->
        
            <div class="title-button">
                <a class="view_profile_link" href="{% url 'profile' user.id %}">
                    View shop
                </a>
            </div><!-- closing div title-button -->
        </div><!-- closing div title-section -->

        <div class="body-section">
            <form method="post">
            {% csrf_token %}
                <div class="underline">
                    <div class="input_section">
                        <label for="last_name">
                            Currency
                        </label>
                        <div class="input_edit">
                            {{ form.currency }}
                        </div><!-- closing div input_edit -->
                    </div><!-- closing input_section -->

                    <div class="input_section">
                        <label for="last_name">
                            Language
                        </label>
                        <div class="input_edit">
                            {{ form.language }}
                        </div><!-- closing div input_edit -->
                    </div><!-- closing input_section -->

                    <div class="input_section">
                        <label for="last_name">
                            Country
                        </label>
                        <div class="input_edit">
                            {{ form.country }}
                        </div><!-- closing div input_edit -->
                    </div><!-- closing input_section -->
                    <div class="button-section">
                        <input class="save_changes" type="submit" value="Save Changes">
                    </div><!-- button-section -->
                </div><!-- closing div underline -->
            </form>
        </div><!-- closing div body-section  -->       
    </section>
</div>
{% endblock %}