<link href="/static/admin/css/signup.css" rel="stylesheet" type="text/css" media="all"/>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% block content %}

<!-- Modal -->
<div class="modal fade" id="modal" tableindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modal">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:400px;padding: 20px">
        <div class="modal-content">
            <div class="container-fluid">

                <div class="conatiner">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Create your account</h4>
                        </div>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col">
                        <p>Registration is easy</p>
                    </div>
                </div>
                
                <form method="POST" action="" class="formSignup">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="">Email address *</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    
                    <div class="form-group">
                        <label for="1">First name *</label>
                        {{ form.first_name }}
                        {{ form.first_name.errors }}
                    </div>

                    <div class="form-group">
                        <label for="">Password *</label>
                        {{ form.password }}
                        {{ form.password.errors }}
                        {{ form.non_field_errors }}                 
                    </div>

                    <div class="form-check" style="padding:20px;">
                        <input type="checkbox" class="form-check-input" id="checkInput">
                        <label class="form-check-label" for="checkInput" style="padding-left:20px;font-size: 0.8em;">
                            Get fresh Etsy trends, unique gift ideas, 
                            and special promotions delivered straight to your inbox.
                        </label>
                    </div>
                    <button type="submit" id="btn-black" class="btn-black btn btn-lg btn-success btn-block">
                        Submit
                    </button>
                </form>
    
                <div class="hr-sect">OR</div><!-- closing div hr-sect -->
                
                <!--Google +-->
                <button type="button" class="btn btn-block btn-google" style="padding:10px">
                    <i class="fa fa-google pr-1"></i> 
                    Continue with Google
                </button>

                <!--Facebook-->
                <button type="button" class="btn btn-block btn-fb" style="padding:10px">
                    <i class="fa fa-facebook pr-1"></i>
                    Continue with Facebook
                </button>


                <p class="gray" style="padding:10px">
                    By clicking Register, Continue with Google, or Continue with Facebook, 
                    you agree to Etsy's Terms of Use and Privacy Policy. 
                    Etsy may send you communications; you may change your preferences in your account settings. 
                    O registo permitirá que seus amigos possam encontrá-lo no Etsy. 
                    Nunca publicaremos nada sem sua permissão.
                </p>
            </div>
        </div><!-- closing div modal-content -->
    </div><!-- closing div modal-dialog modal-dialog-centered -->
</div><!-- closing div modal fade -->

{% endblock %}