env
web/etsy/etsy/__pycache__
web/etsy/etsy_core/__pycache__
web/etsy/etsy_core/forms/__pycache__
web/etsy/etsy_core/migrations/__pycache__
web/etsy/etsy_core/models/__pycache__
.idea
web/etsy/etsy_core/templatetags/__pycache__
web/etsy/etsy_core/services/__pycache__
web/etsy/etsy_core/search/__pycache__
web/media
web/etsy/etsy_core/services/__pycache__
db.sqlite3
data
.vscode
.coverage
web/etsy/htmlcov
