{% extends '../base.html' %}

{% block title %}New password{% endblock %}

{% block css %}
<link href="/static/etsy_core/css/login.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}
<div class="ui-toolkit login-main">
    <div class="overlay-body login-body">
        <div class="col-group col-flush">
            <div class="col-xs-12">
                <div id="join-neu-content" class="bg-white mb-xs-2">
                    <div>
                        <form id="join-neu-form" class="position-relative" method="POST" action="">
                            {% csrf_token %}
                            {% load myfilters %}
                            <div class="col-group col-fliush">
                                <div class="col-xs-12">
                                    <div class="mb-xs-2">
                                        <h1 class="text-title pb-xs-2">
                                            Confirm your new password
                                        </h1>
                                    </div><!-- closing div mb-xs-2 -->

                                    <div class="mb-xs-2 has-validation">
                                        <label class="mb-xs-1 strong text-body">
                                            {{ form.new_password1.label}}
                                        </label>
                                        {{ form.new_password1|addcss:"input input-large" }}
                                        {{ form.new_password1.errors }}
                                        <div id="aria-join_neu_email_field-error" class="has-error-msg mt-xs-1 text-red">
                                        </div><!-- closing div aria-join_neu_email_field-error -->
                                    </div><!-- closing div mb-xs-2 -->

                                    <div class="mb-xs-2 has-validation">
                                      <label class="mb-xs-1 strong text-body">
                                          {{ form.new_password2.label}}
                                      </label>
                                      {{ form.new_password2|addcss:"input input-large" }}
                                      {{ form.new_password2.errors }}
                                      <div id="aria-join_neu_email_field-error" class="has-error-msg mt-xs-1 text-red">
                                      </div><!-- closing div aria-join_neu_email_field-error -->
                                    </div><!-- closing div mb-xs-2 -->

                                    <div>
                                        <div class="has-validation">
                                            <button class="btn btn-large width-full btn-primary" type="submit" name=""
                                                value="sing-in">
                                                Change password
                                            </button>
                                            <div class="has-error-msg mt-xs-1 text-red">

                                            </div><!-- closing has-error-msg mt-xs-1 text-red -->
                                        </div><!-- closing div has-validation -->
                                    </div>

                                </div><!-- closing div col-xs-12 -->
                            </div><!-- closing div col-group col-flush -->
                        </form>
                    </div>
                </div><!-- closing div join-neu-content -->
            </div><!-- closing div col-xs-12 -->
        </div><!-- closing div col-group col-flush -->
    </div><!-- clsoing div overlay-body -->
</div><!-- closing div overlay-view overlay-small mt-xs-0 mt-md-4 mb-xs-0 mb-md-4 -->
{% endblock %}