.purchases--header {
    background: #f5f5f1;
    border-bottom: 1px solid #d7d7d4;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 150px;
}

.purchases--header .tit {
    text-rendering: optimizeLegibility;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.purchases {
    background-color: #efefeb;
    padding: 25px 150px;
}

.purchase--card {
    position: relative;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
    margin: 24px 120px;
    height: 130px;
    margin-top: 52px;
}

.purchase--card .product--image {
    display: inline-block;
    border-radius: 2px;
    margin: 20px 32px;
    height: 90px;
    width: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.purchase--card .--body {
    display: inline-block;
    position: relative;
    top: -42px;
    height: 90px;
}

.purchase--card .purchase--info {
    background: #f5f5f1;
    border: 1px solid #d2d2d2;
    border-radius: 5px 5px 3px 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    color: #666;
    padding: 10px 10px;
    position: absolute;
    height: 36px;
    width: calc(100% + 10px);
    top: -34px;
    right: -5px;
    font-size: 12px;
}

.review {
    width: 100%;
    font-size: 14px;
    background-color: #FAF9F5;
    border-radius: 3px;
    padding: 10px;
    margin-top: 12px;
}

.review .review--link {
    font-weight: 500;
    text-decoration: underline;
}

.product--name {
    font-weight: 600;
    font-size: 18px;
}

.product--price {
    display: inline-block;
    float: right;
}

.description--text textarea{
    height: 60px;
    width: 100%;
}
.--user {
    margin-top: 20px;
}

img.avatar {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.prod--name {
    display: block;
    margin-bottom: 8px;
}

.input--button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}