.text-smaller {
    font-size: 85.71%;
}

.filter {
    margin: 3%;
}

.results {
    margin: 3% 0px 10px 0px;
}

.long-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.little-card-title {
    font-size: 14px;
}

.little-card-owner {
    font-size: 12px;
}

.little-card-price {
    font-size: 16px;
}

.result-image {
    height: 171.94px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.result-card {
    width: 100%;
    max-width: 248px;
    margin-bottom: 50px;
    border: 0px !important; 
}

.card.result-card {
    left: 50%;
    transform: translateX(-50%);
}

.card-columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.card-columns a {
    margin: 9px;
    width: 23%;
}

@media (max-width: 1270px) {
    .card-columns a {
        width: 31%;
    }
}

@media (max-width: 924px) {
    .card-columns a {
        width: 47%;
    }
}

.card-img-top.result-image {
    border-radius: 4px;
}

.card-img-top.result-image:hover {
    box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
}