#shopForm p.thick {
    font-weight: bold;
}

.content {
    background-color: #FAF9F5;
    width: 92%;
    margin: 0 auto
}

#shopForm {
    margin: 0 auto;
    width: 100%;
    /*margin: 50px auto;*/
    position: relative;
    background-color: #FAF9F5;
    text-align: left;
}

.bg-FAF9F5 {
    background-color: #FAF9F5;
}

#shopform ul {
    background-color: white;
    width: 100%;
    height: 110px;
    border-bottom: 1px solid rgb(175, 174, 174);
    border-top: 1px solid rgb(175, 174, 174);
    padding-top: 30px;
}

#shopForm fieldset {
    background-color: #FAF9F5;
    border: 0 none;
    border-radius: 3px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;

    /* Stacking fieldsets above each other */
    position: relative;
}

.borderDiv {
    border: 1px solid rgb(175, 174, 174);
    width: 100%;
    border-radius: 5px;
}

.fieldsetHead {
    background-color: #FAF9F5;
    width: 100%;
    height: 90px;
    padding-bottom: 15px;
}

.fieldsetHead h1 {
    font-size: 1.7em;
}

.fieldsetHead h4 {
    font-size: 0.9em;
}

/* Hidding all except first fieldset */
#shopForm fieldset:not(:first-of-type) {
    display: none;
}

#shopForm fieldset select {
    width: 400px;
}

#id_language {
    width: 200px;
}

#shopForm fieldset h1 {

}

#shopForm fieldset h2 {

}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    text-align: center;
    width: 100%;
}

#progressbar li {
    list-style-type: none;
    color: #595959;
    font-size: 0.9em;
    width: 50%;
    float: left;
    margin: 0 auto;
    position: relative;
    letter-spacing: 1px;
    text-decoration: underline;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: white;
    background: #bbb9b9;
    border-radius: 50%;
    margin: 0 auto 5px auto;
}

#progressbar li:after {
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /* put it behind the check */
    content: '';
    width: 100%;
    height: 3x;
    background: red;
}

#progressbar li:first-child:after {
    content: none;
}

/* make the progress darker like my soul lmao jokes oh nah */
#progressbar li.active:before, 
#progressbar li.active:after {
    background: #272727;
    color: white;
}

.borderDiv .col-xs-12 .panel .panel-body .row .col-sm-4 .select-wrap > select {
    width: 200px;
}

.font-weight-light {
    font-size: 0.8em;
}

.bg-F0FBFD {
    background-color: #F0FBFD;
    color: #83CADC;
    vertical-align: center;
}

.bg-F0FBFD  div {
    vertical-align: center;
}

.bg-FAF9F4 {
    background-color: #FAF9F4;
}

.row {
    margin: 0 auto;
}

.card {
    margin: 10px auto;
    margin-bottom: 10px; 
}

.fixTheSize {
    width: 100%;
    margin: 0 auto;
}

fieldset {
    margin: 0 auto;
}

div.absolute {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border: 3px solid #8AC007;
}

.d-flex {
    margin: 0 auto;
}

.col-xl-6 {
    margin: 0 auto;
}

#fixing {
    margin: 0 auto;
    padding: 20px;
}

#fixing2 {
    margin: 0 auto;
    margin-bottom: 20px;
}

#id_name {
    width: 74%;
}

#fix-text {
    margin: 0 auto;
}

fieldset .fixed-bottom .nextButton {
    margin: 20px;
    color: white;
    background: #272727;
    padding-left: 30px;
    padding-right: 30px;
}

.nextButton {
    margin: 20px;
    color: white;
    background: #272727;
    padding-left: 30px;
    padding-right: 30px;
}

#goToNameButton {
    margin: 20px;
    color: white;
    background: #272727;
    padding-left: 30px;
    padding-right: 30px;
}

.line {
    border-top: 1px solid rgb(175, 174, 174);
}